.EmojiConatiner {
  background-color: #ffffff33;
  height: 22%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  border: none;
  border-radius: 12px;
  list-style-type: none;
  margin: 5px;
}
.buttonooo {
  border: none;
  background-color: transparent;
}
@media (min-width: 768px) {
  .EmojiConatiner {
    height: 27%;
    width: 23%;
  }
}
.emoji {
  height: 75%;
  width: 75%;
}
